<!-- ================================================ -->

<section class="produtos"> <!--section PRODUTOS-->
    <section class="slide-container swiper"> <!--SLIDE CONTAINER SWIPER-->

        <section class="slide-content"> <!--AQUI SIMPLESMENTE O SLIDE CONTENT -->

            <ul class="card-wrapper swiper-wrapper">

                <!-- Incluir todos os produtos dentro de um único slider -->
                <% produtos.forEach(produto => { %>

                    <!-- CARD -->
                    <li class="card swiper-slide">
                        <article id="<%= produto.id %>" class="produto">
                            <a href="#"><img class="imgproduto" src="<%= produto.imagem %>" alt="camisa"></a>
                            <h3><%= produto.nomeProduto %></h3>
                            <section class="preco-parcelado">
                                <label for="span">3x </label><span><%= produto.precoParcelado %></span>
                            </section>
                            <section class="precoVista">
                                <label for="span">À vista </label><span class="preco"><%= produto.precoVista %></span>
                                <i class="fa-sharp fa-solid fa-bag-shopping" onclick="addToCart('<%= produto.id %>')"></i>
                            </section> 
                        </article>
                    </li>

                <% }); %>

            </ul>
        </section> <!--AQUI SIMPLESMENTE O SLIDE CONTENT -->

        <section class="swiper-button-next swiper-navBtn"></section>
        <section class="swiper-button-prev swiper-navBtn"></section>
        <section class="swiper-pagination"></section>
    </section> <!--SLIDE CONTAINER SWIPER-->

</section> <!--section PRODUTOS-->
