<section class="product" data-categoria="<%= categoria %>">
    <a href="<%= link %>">
       <section class="imgProduct">
          <img src="<%= imagem %>" alt="<%= nome %>" class="images">
       </section>
    </a>
    <section class="infoProduct">
       <h3 id="nomeProduct"><%= nome %></h3>
       <h1 id="precoParcelado"><%= parcelas %>x R$<%= precoParcelado %></h1>
       <section class="precoAvista">
         <h2>À vista </h2>
         <h2 id="precoReal">R$<%= precoVista %></h2>
       </section>
       <button class="addCart">Adicionar ao Carrinho</button>
    </section>
 </section>
 