<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/4494a50fc2.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/cadastro.css">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script> 

    <!-- Jquery Mascaras -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>

    <title>Cadastro Empresa</title>
</head>
<body>
    <section>
        <form action="/cadastro-empresa" method="post">
            <div class="formHead">
                <a href="/home-page">
                    <i class="fa-solid fa-house home"></i> <span>Inicio</span>
                </a>
                <img class="logo" src="/imagem/Logo/LogoLado Branco.png" alt="">
                <h1>Cadastro de Empresa</h1>
            </div>

            <!-- ============ Nome da Empresa =========== -->
            <h3 id="empresaTxt">Nome da Empresa:</h3>
            <input type="text" name="empresa" id="empresa" placeholder="Digite o nome da sua Empresa" value="<%= valores.empresa || '' %>" required> 

            <!-- ============ Email =========== -->
            <h3 id="emailTxt">E-mail:</h3>
            <input type="email" name="e_mail" id="e_mail" placeholder="Digite seu e-mail" value="<%= valores.e_mail || '' %>" required>

            <!-- ============ Telefone =========== -->
            <h3 id="telTxt">Telefone:</h3>
            <input type="text" name="telefone" id="telefone" placeholder="Digite seu telefone" value="<%= valores.telefone || '' %>" required>

            <!-- ============ CNPJ =========== -->
            <h3 id="cnpjTxt">CNPJ:</h3>
            <input type="text" name="cnpj" id="cnpj" placeholder="Digite o CNPJ" value="<%= valores.cnpj || '' %>" required>

            <!-- ============ CEP =========== -->
            <h3 id="cepTxt">CEP:</h3>
            <input type="text" name="cep" id="cep" placeholder="Digite seu CEP" value="<%= valores.cep || '' %>" required>

            <!-- ============ Senha =========== -->
            <h3 id="senhaTxt">Senha:</h3> 
            <div class="senha-container">
                <input type="password" name="senhaEmpresa" id="senhaEmpresa" placeholder="Digite sua senha" value="<%= valores.senhaEmpresa || '' %>" required>
                <span class="eye-icon">
                    <i class="fa-solid fa-eye fa-eye-slash eye-senha" id="btn-senha-empresa" onclick="mostrarSenhaEmpresa()"></i>
                </span>
            </div>

            <!-- ============ Confirmar senha =========== -->
            <h3 id="confirmTxt">Confirmar Senha:</h3>
            <div class="confirm-container">
                <input type="password" name="confirmSenha" id="confirmSenha" placeholder="Digite sua senha novamente" value="<%= valores.confirmSenha || '' %>" required>
                <span class="eye-icon">
                    <i class="fa-solid fa-eye fa-eye-slash" id="btn-confirm-senha" onclick="mostrarConfirmSenha()"></i>
                </span>
            </div>
            
            <button onclick="cadastrar()">Cadastrar</button>
        </form>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if(urlParams.get('cadastro-empresa') === 'usuario'){
            
            new Notify({
              status: 'error',
              title: 'Erro no cadastro',
              text: 'Este usuario já está cadastrado',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
          
        if(urlParams.get('cadastro-empresa') === 'email'){
            
            new Notify({
              status: 'error',
              title: 'Erro no cadastro',
              text: 'Este e-mail já está cadastrado',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
        }
            if(urlParams.get('cadastro-empresa') === 'usuarioemail'){
            
            new Notify({
              status: 'error',
              title: 'Erro no cadastro',
              text: 'E-mail e Usuário já cadastrados',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
          if(urlParams.get('cadastro-empresa') === 'cnpjInvalido'){
            
            new Notify({
              status: 'error',
              title: 'Erro no cadastro',
              text: 'Cnpj digitado é invalido!',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }

          if(urlParams.get('cadastro-empresa') === 'cep'){
            
            new Notify({
              status: 'error',
              title: 'Erro no cadastro',
              text: 'CEP inválido!',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
          if(urlParams.get('cadastro-empresa') === 'cnpj'){
            
            new Notify({
              status: 'error',
              title: 'Erro no cadastro',
              text: 'CPF já cadastrado!',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
          if(urlParams.get('cadastro-empresa') === 'senha_invalida'){
            
            new Notify({
              status: 'error',
              title: 'Erro no cadastro',
              text: 'Suas senhas não coincidem',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
          if(urlParams.get('cadastro-empresa') === 'usuarioemailcnpj'){
            
            new Notify({
              status: 'error',
              title: 'Erro no cadastro',
              text: 'Usuário, Email e CPF já cadastrados',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
          if(urlParams.get('cadastro-empresa') === 'usuariocnpj'){
            
            new Notify({
              status: 'error',
              title: 'Erro no cadastro',
              text: 'Usuário e CPF já cadastrados',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
          if(urlParams.get('cadastro-empresa') === 'emailcnpj'){
            
            new Notify({
              status: 'error',
              title: 'Erro no cadastro',
              text: 'Email e CPF já cadastrados',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
          </script>

    <script src="/js/cadastro-empresa.js"></script>
    <script src="/js/validarCnpj.js"></script>
    <script src="/js/mostrarsenha.js"></script>
    <script src="/js/senha.js"></script>
    
</body>
</html>
