<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/4494a50fc2.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/cadastro-produto.css">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script> 

    <!-- Jquery Mascaras -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

    <!-- Simple Notify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>

    <!-- Validação de Produto -->
    <script src="/js/validacao-produto.js"></script>
</head>
<body>
    <main>

        <form action="/cadastro-produto" method="POST" enctype="multipart/form-data">
                <div class="formHead">
                    <a href="/home-page">
                        <i class="fa-solid fa-house home"></i> <span>Inicio</span>
                    </a>
                    <img class="logo" src="/imagem/Logo/LogoLado Branco.png" alt="">
                    <h1>Cadastro de Produto</h1>
                </div>

            <!-- NOME PRODUTO -->
            <h3 class="nomeProdutotxt">Nome do seu Produto:</h3>
            <input type="text" name="produtoNome" id="produtoNome" placeholder="Digite aqui o nome do Produto" value="<%= valores.produtoNome || '' %>" required>
            
            <!-- Descrição do Produto -->
            <h3 class="descricaoTxt">Descrição:</h3>
            <textarea name="descricaoProduto" class="produtoDescricao" id="descricaoProduto" placeholder="Digite uma breve descrição do produto" required><%= valores.descricaoProduto || '' %></textarea>
            <!-- <input type="text" name="descricaoProduto" id="descricaoProduto" placeholder="Digite uma breve descrição do produto" value="<%= valores.descricaoProduto || '' %>" required> -->

            <!-- Preço -->
            <h3 class="precoTxt">Preço a vista:</h3>
            <input type="text" name="precoProduto" id="precoProduto" placeholder="Digite o preço a vista do seu produto" value="<%= valores.precoProduto || '' %>" required>

            <!-- Quantidade em estoque -->
            <h3 class="qtdeEstoqueTxt">Quantidade em estoque:</h3>
            <input type="text" name="qtdeEstoque" id="qtdeEstoque" placeholder="Digite a quantidade em estoque" value="<%= valores.qtdeEstoque || '' %>" required>

            <!-- Tamanho -->
            <section class="tamanhoOption">
                <h3 class="tamanhoTxt">Tamanho do Produto:</h3><i class="fa-solid fa-circle-exclamation saibaMais"></i>
            </section>
            <p class="tamanhoInfo" style="display: none;">A forma que você deve preencher é: "Pequeno" ou "Médio" ou "Grande" ou "Pequeno, Médio, Grande" ou em caso de moda "P,M,G,GG" ou "Sem tamanho específico"</p>
            <input type="text" name="tamanhoProduto" id="tamanhoProduto" placeholder="Preencha conforme o padrão especificado" value="<%= valores.tamanhoProduto || '' %>" required>

            <!-- Adicione um campo de seleção para Categorias -->
            <h3 class="categoriaTxt">Categoria:</h3>
            <select name="Categorias_idCategorias" id="Categorias_idCategorias" required>
                <option value="" disabled selected>Selecione a categoria</option>
                <option value="1">Moda</option>
                <option value="2">Bags</option>
                <option value="3">Cosmeticos</option>
                <option value="4">Higiene</option>
            </select>

            <!-- Imagem -->
            <input type="file" name="imagemProduto" id="imagemProduto" placeholder="Selecione a imagem do seu produto" value="<%= valores.imagemProduto || '' %>" onchange="loadImg(event)" required>
            <img id="previewImg" src="#" alt="Preview da Imagem" style="display:none; max-width: 200px;"/>

            <button type="submit">Cadastrar Produto</button>
        </form>
    </main>

    <script>
        function loadImg(event) {
            const output = document.getElementById('previewImg');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.style.display = 'block';
        }
    </script>
    <script>
        // Usando JavaScript puro para controle de exibição
        const hoverElement = document.querySelector('.saibaMais');
        const hiddenSpan = document.querySelector('.tamanhoInfo');
      
        hoverElement.addEventListener('mouseenter', () => {
          hiddenSpan.style.display = 'inline-block';
        });
      
        hoverElement.addEventListener('mouseleave', () => {
          hiddenSpan.style.display = 'none';
        });
    </script>
</body>
</html>
