<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY, Fontawesome e css menu e do rodapé -->
    <%- include('../partial/essenciais'); %> 

    <!-- CSS (da pagina) -->
    <link rel="stylesheet" href="/css/carrinho.css">
    <title>Carrinho de Compras</title>
</head>
<body>
    <!-- Menu e menu lateral -->
    <%- include('../partial/header'); %>
    <!-- Fim menu e menu lateral -->

    <main>
            <h3 class="tituloCarrinho">Seu Carrinho de Compras</h3>

            <section class="carrinho">

            <section class="produtoCarrinho">
                <!-- verificar se o carrinho contém itens antes de renderizar a tabela com os itens do carrinho-->
                <% if(carrinho){ %>
                
                <% 
                var total=0; 
                carrinho.forEach(function(item){ 
                total += (item.qtde * item.preco); 
                %>

                <section class="produtoItem">

                    <section class="imagemContainer">
                        <img src="data:image/png;base64,<%= item.imagemProduto %>" alt="<%= item.nome_produto %>" class="produtoImg">
                    </section>

                    <section class="produtoInfo">
                       
                        <section class="preco_e_nome">
                            <h3><%= item.nome_produto %></h3>
                            <p>R$ <%= item.preco.toFixed(2) %></p>
                        </section>
                        
                        
                        <select class="tamanhos" id="tamanho-select">
                            <option value="" disabled selected>Selecione um tamanho</option>
                        <% if (item.tamanhoProd === "Pequeno" || item.tamanhoProd === "Médio" || item.tamanhoProd === "Grande") { %>
                            <option value="<%= item.tamanhoProd %>"><%= item.tamanhoProd %></option>
                        <% } else if (item.tamanhoProd === "Pequeno, Médio e Grande") { %>
                            <option value="Pequeno">Pequeno</option>
                            <option value="Médio">Médio</option>
                            <option value="Grande">Grande</option>
                    <% } else if (item.tamanhoProd === "P,M,G,GG") { %>
                            <option value="P">P</option>
                            <option value="M">M</option>
                            <option value="G">G</option>
                            <option value="GG">GG</option>
                    <% } else { %>
                            <option value="Sem tamanho específico">Sem tamanho específico</option>
                    <% } %>
                        </select>

                        <section class="quantidade">
                            <a href="/addItem?id=<%= item.codproduto %>&preco=<%= item.preco %>">
                            <i class="fa-solid fa-plus aumentar"></i></a>

                                <span class="qtde-cart"><%= item.qtde %></span>

                            <a href="/removeItem?id=<%= item.codproduto %>&qtde=1">
                            <i class="fa-solid fa-minus diminuir"></i></a>   
                        </section>

                        <a href="/excluirItem?id=<%= item.codproduto %>">
                        <i class="fa-solid fa-trash deletar"></i>
                        </a>

                        <a class="codigoproduto" href="/addItem?id=<%= item.codproduto %>&preco=<%= item.preco %>"></a>

                    </section>
                </section>

                <% 
                });
                %>

            </section>

            <%
            }
            %>

            <section class="infoCarrinho">
                <section class="head">
                    <h3>Meu Carrinho</h3>
                </section>

                <section class="txtCarrinho">
                <h1>Local de Envio:</h1>
                <input type="text" name="" id="inputLocal" placeholder="Digite o CEP que deseja receber os produtos.">
                <h1>Cupons:</h1>
                <input type="text" name="" id="cupons" placeholder="Digite o código do cupom para receber benefícios.">
                <h2 class="totalTxt">Total:</h2>
                <h2 class="precoTotal">R$ <%= total.toFixed(2) %> </h2>
                
                <% if(autenticado.autenticado){%>
                    <button class="btn btn-primary btn-lg btn-block" id="checkout-btn">Comprar</button>
                <% }else {%>
                        <p class="btn btn-warning btn-lg btn-block"><a href="/login">Para comprar faça Login</a></p>
                <% }%>

                </section>
            </section>
        </section>
    </main>

    <!-- Rodapé -->
    <%- include('../partial/footer'); %>

    <%- include('../partial/scripts-essenciais'); %>

    
</body>
</html>