<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partial/essenciais'); %> 
    <link rel="stylesheet" href="/css/carrinho.css">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <title>Carrinho de Compras</title>
</head>
<body>
    <%- include('../partial/header'); %>
    <main>
        <h3 class="tituloCarrinho">Seu Carrinho de Compras</h3>
        <section class="carrinho">
            <section class="produtoCarrinho">
                <% var total = 0; %> <!-- Mova a declaração do total para o início -->
                <% if (qtdItensCarrinho > 0) { %>
                    <% carrinho.forEach(function(item) { 
                        total += (item.qtde * item.preco); 
                    %>
                    <section class="produtoItem">
                        <section class="imagemContainer">
                            <img src="data:image/png;base64,<%= item.imagemProduto %>" alt="<%= item.nome_produto %>" class="produtoImg">
                        </section>
                        <section class="produtoInfo">
                            <section class="preco_e_nome">
                                <h3><%= item.nome_produto %></h3>
                                <p>R$ <%= item.preco.toFixed(2) %></p>
                            </section>
                            
                            <select class="tamanhos" id="tamanho-select-<%= item.codproduto %>" onchange="updateTamanhoCarrinho('<%= item.codproduto %>')">
    <option value="" disabled selected>Selecione um tamanho</option>
    
    <% if (item.tamanhoProd === "Pequeno" || item.tamanhoProd === "Médio" || item.tamanhoProd === "Grande") { %>
        <option value="<%= item.tamanhoProd %>"><%= item.tamanhoProd %></option>
    <% } else if (item.tamanhoProd === "Pequeno, Médio e Grande") { %>
        <option value="Pequeno">Pequeno</option>
        <option value="Médio">Médio</option>
        <option value="Grande">Grande</option>
    <% } else if (item.tamanhoProd === "P,M,G,GG") { %>
        <option value="P">P</option>
        <option value="M">M</option>
        <option value="G">G</option>
        <option value="GG">GG</option>
    <% } else if (/^\d+x\d+(,\s*\d+x\d+)*$/.test(item.tamanhoProd)) { %> <!-- Verifica se o item contém dimensões -->
        <% let dimensoes = item.tamanhoProd.split(','); %> <!-- Divide as dimensões por vírgulas -->
        <% dimensoes.forEach(function(dimensao) { %>
            <option value="<%= dimensao.trim() %>"><%= dimensao.trim() %></option> <!-- Exibe cada dimensão como uma opção -->
        <% }); %>
    <% } else { %>
        <option value="Sem tamanho específico">Sem tamanho específico</option>
    <% } %>
</select>

                            <section class="quantidade">
                                <a href="#" onclick="aumentarQuantidade('<%= item.codproduto %>', <%= item.qtde + 1 %>)">
                                    <i class="fa-solid fa-plus aumentar"></i>
                                </a>
                                <span class="qtde-cart"><%= item.qtde %></span>
                                <a href="/removeItem?id=<%= item.codproduto %>&qtde=1">
                                <i class="fa-solid fa-minus diminuir"></i></a>   
                            </section>
                            <a href="/excluirItem?id=<%= item.codproduto %>">
                                <i class="fa-solid fa-trash deletar"></i>
                            </a>
                        </section>
                    </section>
                    <% }); %>
                <% } else { %>
                    <section class="carrinho-vazio">
                        <img class="vazioImg" src="/imagem/seu_Carrinho_está_vazio.png" alt="Carrinho vazio" class="img-carrinho-vazio">
                    </section>
                <% } %>
            </section>

            <section class="infoCarrinho">
                <section class="head">
                    <h3>Meu Carrinho</h3>
                </section>
                <section class="txtCarrinho">
                    
                    <h1>Local de Envio:</h1>
                    <section class="infoEndereco">
                    <% if (autenticado && endereco) { %>
                        <p>CEP: <%= endereco.cep %></p>
                        <p><%= endereco.logradouro %>, <%= endereco.numeroCliente %> - <%= endereco.complementoCliente %></p>
                        <p><%= endereco.bairro %>, <%= endereco.cidade %> - <%= endereco.uf %></p>
                        
                    <% } else { %>
                        <p>Você precisa estar logado para ver as informações de endereço.</p>
                    <% } %>
                    </section>

                    <h1>Cupons:</h1>
                    <!-- Adicione um campo oculto para armazenar o valor total com desconto -->
                    
                    <form action="/aplicar-cupom" method="POST">
                        <input type="text" name="cupom" id="cupons" placeholder="Digite o código do cupom">
                        <button type="submit">Aplicar Cupom</button>
                    </form>
                    
                    <!-- Mostre o total com desconto, se aplicável -->
                    <% if (typeof carrinho.totalComDesconto !== 'undefined' && carrinho.totalComDesconto != 0) { %>
        <h2 class="totalTxt">Total com Desconto:</h2>
        <h2 class="precoTotal">R$ <%= carrinho.totalComDesconto.toFixed(2) %> </h2>
    <% } else { %>
        <h2 class="totalTxt">Total:</h2>
        <h2 class="precoTotal">R$ <%= typeof total === 'number' ? total.toFixed(2) : '0.00' %> </h2>
    <% } %> 
                    
                <% if(autenticado && autenticado.autenticado){%>
                        <form action="/finalizar-compra" method="POST" onsubmit="return validarSelecaoTamanho()">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" id="checkout-btn">Finalizar Compra</button>
                        </form>
                    <% } else { %>
                        <p class="btn btn-warning btn-lg btn-block"><a href="/login">Para comprar faça Login</a></p>
                    <% } %>
                </section>
            </section>
        </section>
        <div class="container_payment">
            <div class="block-heading"><h2>Checkout</h2></div>
            <div class="form-payment">
                <div class="products">
                    <h2 class="title">Resumo do pedido</h2>
                    <% 
                     
                    carrinho.forEach(function(item){ %>
                        <div class="item">
                            
                                <span class="price hidden" id="summary-price"><%= item.preco.toFixed(2) %></span>
                                <input type="hidden" id="totalComDesconto" value="<%= carrinho.totalComDesconto || carrinho.total %>">
                                
                                <span class="price" id="subtot-price"><%=  (item.qtde * item.preco).toFixed(2) %></span>

                            
                            <p class="item-name"><%= item.nome_produto %> 
                                (<span id="summary-quantity"><%= item.qtde %></span>x R$ <%= item.preco.toFixed(2) %>) 
                            </p>

                            <% if (item.desconto && item.desconto > 0) { %>
                                <p class="discount">
                                    Desconto: <span id="summary-discount"><%= item.desconto %> %</span>
                                </p>
                            <% } %>
                        </div>
                    <% }) %>

                    

                    <% if (typeof carrinho.totalComDesconto !== 'undefined' && carrinho.totalComDesconto != 0) { %>
        <h2 class="totalTxt">Total com Desconto:</h2>
        <h2 class="precoTotal">R$ <%= carrinho.totalComDesconto.toFixed(2) %> </h2>
    <% } else { %>
        <h2 class="totalTxt">Total:</h2>
        <h2 class="precoTotal">R$ <%= typeof total === 'number' ? total.toFixed(2) : '0.00' %> </h2>
    <% } %> 
                </div>
                <div class="payment-details">
                    <div class="form-group col-sm-12">
                        <br>
                        <div id="button-checkout"></div>
                        <br>
                        <a id="go-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 10 10" class="chevron-left">
                                <path fill="#009EE3" fill-rule="nonzero" id="chevron_left" d="M7.05 1.4L6.2.552 1.756 4.997l4.449 4.448.849-.848-3.6-3.6z"></path>
                            </svg>
                            Voltar ao carrinho
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partial/footer'); %>
    <script src="/js/comprar-carrinho.js"></script>
    <%- include('../partial/scripts-essenciais'); %>

    <script>
        function validarSelecaoTamanho() {
            const tamanhos = document.querySelectorAll('.tamanhos');
            for (let select of tamanhos) {
                if (!select.value) {
                    return false;
                }
            }
            return true;
        }
    </script>
    
    <script> 
        let maxReached = false;

        function aumentarQuantidade(produtoId, novaQtde) {
            if (maxReached) return; // Impede incremento se o limite foi atingido

            fetch(`/addItem?id=${produtoId}&qtde=${novaQtde}`)
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => {
                            maxReached = true; // Define a variável como true ao atingir o limite

                            // Exibe o SweetAlert com a mensagem de erro
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: data.error || 'Erro ao adicionar ao carrinho!',
                            });
                        });
                    } else {
                        maxReached = false; // Reseta caso a quantidade seja válida
                        location.reload(); // ou outra lógica para atualizar o carrinho
                    }
                })
                .catch(error => {
                    console.error('Erro ao aumentar a quantidade:', error);
                });
        }


        function diminuirQuantidade(produtoId, novaQtde) {
    maxReached = false; // Reseta a variável para permitir novos incrementos

    fetch(`/removeItem?id=${produtoId}&qtde=${novaQtde}`)
        .then(response => {
            if (response.ok) {
                location.reload(); // Atualiza o carrinho após remover
            } else {
                console.error('Erro ao remover do carrinho');
            }
        })
        .catch(error => {
            console.error('Erro ao diminuir a quantidade:', error);
        });
}
    </script>
    <script>
    function updateTamanhoCarrinho(produtoId) {
        const selectElement = document.getElementById(`tamanho-select-${produtoId}`);
        const tamanhoSelecionado = selectElement.value;

        // Fazer uma requisição AJAX para atualizar o tamanho no carrinho
        fetch('/atualizar-tamanho-carrinho', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ produtoId, tamanhoSelecionado }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Tamanho atualizado no carrinho:', data);
        })
        .catch(error => console.error('Erro ao atualizar tamanho no carrinho:', error));
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if(urlParams.get('cupom') === 'categoria'){
            
            new Notify({
              status: 'error',
              title: 'Erro',
              text: 'Não há produtos da mesma categoria do cupom.',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
          if(urlParams.get('cupom') === 'invalido'){
            
            new Notify({
              status: 'error',
              title: 'Erro',
              text: 'Cupom inválido ou expirado.',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }

          if(urlParams.get('cupom') === 'usado'){
            
            new Notify({
              status: 'error',
              title: 'Erro',
              text: 'Parece que você já usou este cupom. Tente outro!',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
          </script>
</body>
</html>
