<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY, Fontawesome e css menu e do rodapé -->
    <%- include('../partial/essenciais'); %> 

    <!-- CSS (da pagina) -->
    <link rel="stylesheet" href="/css/catalogo.css">

    <title>Catalogo</title>
</head>
<body>
    <!-- Menu e menu lateral -->
    <%- include('../partial/header'); %>
    <!-- Fim menu e menu lateral -->

    <!-- =============== CONTEUDO ===============-->
    <main>
        
        <%- include('../partial/alert'); %>

        <section class="catalogo">
            <h3 id="txtProd">Catálogo Eco</h3>
            <p>Na Eco Future você encontra uma grande variedade de produtos e cosméticos com a melhor qualidade e melhor preço do mercado. Confira!</p>
            <section class="img-conteiner">
                <a href="#camiseta">
                    <img class="catalogo-img" src="/imagem/Prancheta 1.png" alt="">
                </a>
                <a href="#cosmetico">
                    <img class="catalogo-img" src="/imagem/Prancheta 2.png" alt="">
                </a>
                <a href="#higiene">
                    <img class="catalogo-img" src="/imagem/Prancheta 3.png" alt="">
                </a>
                <a href="#bag">
                    <img class="catalogo-img" src="/imagem/Prancheta 4.png" alt="">
                </a>
            </section>
        </section>

        <!-- PRODUTOS -->
        <section class="products-container">
            <section id="root">
               <%- include('../partial/product-template', {
                  nome: 'Camisa Eco Preta', imagem: '/imagem/camisetas/Preta.png', precoParcelado: '50,00',precoVista: '140,00',link: 'https://youtube.com',categoria: 'Moda',parcelas: 5
               }) %>
         
               <%- include('../partial/product-template', {
                  nome: 'Kit Cosmetico',imagem: '/imagem/cosmeticos/cosmetico-1.png',precoParcelado: '45,00',precoVista: '130,00',link: 'https://example.com',categoria: 'Cosmetico',parcelas: 2
               }) %>

               <%- include('../partial/product-template', {
                nome: 'Eco Bag tamanho grande',imagem: '/imagem/ecobags/bag-5.png',precoParcelado: '45,00',precoVista: '130,00',link: 'https://example.com',categoria: 'Bags',parcelas: 2
             }) %>

             <%- include('../partial/product-template', {
                nome: 'Sabonete Eco',imagem: '/imagem/Higiene/higiene-2.jpg',precoParcelado: '45,00',precoVista: '130,00',link: 'https://example.com',categoria: 'Higiene',parcelas: 2
             }) %>

             <%- include('../partial/product-template', {
                nome: 'Camisa Eco Vermelha', imagem: '/imagem/camisetas/Vermelha.png', precoParcelado: '50,00',precoVista: '140,00',link: 'https://youtube.com',categoria: 'Moda',parcelas: 5
             }) %>

             <%- include('../partial/product-template', {
                nome: 'Camisa Eco Roxa', imagem: '/imagem/camisetas/Roxa.png', precoParcelado: '20,00',precoVista: '180,00',link: 'https://youtube.com',categoria: 'Moda',parcelas: 5
             }) %>
         
            </section>
         </section>
        <!-- FIM PRODUTOS -->

    </main>

    <!-- ========= FIM CONTEUDO ============ -->
    <!-- Rodapé -->
    <%- include('../partial/footer'); %>

    <%- include('../partial/scripts-essenciais'); %>
    
</body>
</html>