<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY, Fontawesome e css menu e do rodapé -->
    <%- include('../partial/essenciais'); %>

    <!-- CSS da pagina -->
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Perfil ADM</title>
</head>
<body>
    <!-- Menu e menu lateral -->
    <%- include('../partial/header'); %>
    <!-- Fim menu e menu lateral -->

    <main>
        <section class="container">
            <section class="barraLateral">
                <ul class="opcoesPerfil">
                    <li onclick="mostrarSecao('configuracoes')">
                        <i class="fa-solid fa-gear"></i>
                        <span>Configurações</span>
                    </li>
                    <li onclick="mostrarSecao('meus-produtos')">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>Aprovar Produtos</span>
                    </li>
                    <li onclick="mostrarSecao('contas')">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Contas</span>
                    </li>

                    <li>
                        <a href="/cadastro-cupom">
                        <i class="fa-solid fa-circle-plus"></i>
                        <span>Cadastrar Cupons</span>
                        </a>
                    </li>
                    <li onclick="mostrarSecao('cupons')">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span>Cupons</span>
                    </li>
                </ul>
                <section class="parteInferior">
                    <button class="sairBtn" onclick="window.location.href='/logout'">Sair</button>
                </section>
            </section> <!--barra lateral-->

            <section class="conteudo">
                <section id="configuracoes" class="secaoPerfil">
                    <h2>Configurações da Conta</h2>
                    <form action="/admin/atualizar" method="POST" id="userForm">
                        <div>
                            <label for="nome">Nome:</label>
                            <span id="nomeTexto"><%= admin.nomeAdmin %></span>
                            <input type="text" id="nome" name="nomeAdmin" value="<%= admin.nomeAdmin %>" style="display: none;">
                        </div>

                        <div>
                            <label for="email">Email:</label>
                            <span id="emailTexto"><%= admin.emailAdmin %></span>
                            <input type="email" id="email" name="emailAdmin" value="<%= admin.emailAdmin %>" style="display: none;">
                        </div>

                        
                    </form>
                </section>

                <section id="meus-produtos" class="secaoPerfil">
                    <h2>Aprovar Produtos</h2>
                    <div class="produtos-container">
                      <% solicitacoes.forEach(solicitacao => { %>
                        <div class="produto-card">
                          <% if (solicitacao.imagemProd) { %>
                            <img src="<%= solicitacao.imagemProd %>" alt="<%= solicitacao.tituloProd %>" class="imagem-produto" />
                          <% } %>
                          <div class="info-produto">
                            <h4><%= solicitacao.tituloProd %></h4>
                            <p class="descProduto">Descrição: <%= solicitacao.descricaoProd %></p>
                            <p>Preço: R$ <%= solicitacao.valorProd %></p>
                            <p>Estoque: <%= solicitacao.qtdeEstoque %></p>
                          </div>
                          
                          <div class="acoes-produto">
                            <form action="/aprovar-produto/<%= solicitacao.idSolicitacao %>" method="POST">
                            <button class="editarBtn" type="submit">Aprovar</button>
                            </form>
                            <form action="/rejeitar-produto/<%= solicitacao.idSolicitacao %>" method="POST">
                                <button class="removerBtn" type="submit">Rejeitar</button>
                            </form>
                          </div>
                        </div>
                      <% }) %>
                    </div>
             </section>
            

                <!-- Outras seções podem ser adicionadas aqui -->
                <section id="contas" class="secaoPerfil">
                    <h2>Contas de Empresas</h2>
                    <div class="contas-container">
                        <% empresas.forEach(empresa => { %>
                        <div class="conta-card">
                            <div class="info-conta">
                                <h4>
                                    <i class="fas fa-building"></i> Nome: <%= empresa.razaoSocial %>
                                </h4>
                                <p><i class="fas fa-envelope"></i> Email: <%= empresa.emailEmpresa %></p>
                                <p><i class="fas fa-id-card"></i> CNPJ: <%= empresa.cpnjempresa %></p>
                            </div>
                            <div class="acoes-conta">
                                <form action="/excluir-conta/empresa/<%= empresa.idEmpresas %>" method="POST">
                                    <button class="removerBtn" type="submit">Excluir Empresa</button>
                                </form>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                
                    <h2 class="clientesTxt">Contas de Clientes</h2>
                    
                    <div class="contas-container">
                        <% usuarios.forEach(usuario => { %>
                        <div class="conta-card">
                            <div class="info-conta">
                                <h4>
                                    <i class="fas fa-user"></i> Nome: <%= usuario.nomeCliente %>
                                </h4>
                                <p><i class="fas fa-envelope"></i> Email: <%= usuario.emailCliente %></p>
                            </div>
                            <div class="acoes-conta">
                                <form action="/excluir-conta/usuario/<%= usuario.idClientes %>" method="POST">
                                    <button class="removerBtn" type="submit">Excluir Usuário</button>
                                </form>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </section>
                

                <section id="cupons" class="secaoPerfil">
                    <h2>Cupons</h2>
                    <% const categoriasMap = { 
                        1: 'Moda', 
                        2: 'Bag', 
                        3: 'Cosmético', 
                        4: 'Higiene' 
                    }; %>
                    <div class="contas-container">
                        <% cupons.forEach(cupom => { %> <!-- Aqui, usamos 'cupons' em vez de 'usuarios' -->
                        <div class="conta-card">
                            <div class="info-conta">
                                <h4>Nome do Cupom: <%= cupom.nomeCupom %></h4> <!-- Mostra o nome do cupom -->
                                <p>Desconto: <%= cupom.descontoCupons %></p> <!-- Mostra o desconto do cupom -->
                                <p>Validade: <%= new Date(cupom.prazoCupons).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric'}) %></p> <!-- Formata a data de validade -->
                                <p>Categoria: <%= categoriasMap[cupom.categoriaCupom] %></p> <!-- Mostra a categoria do cupom -->
                                <p>Plano: <%= cupom.planoCupom %></p> <!-- Mostra o plano do cupom -->
                            </div>
                            
                        </div>
                        <% }) %>
                    </div>
                </section>
                

            </section>
                
    </main>

    <%- include('../partial/scripts-essenciais'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script>

        // ========================= Notify============================================
        const urlParams = new URLSearchParams(window.location.search);
        if(urlParams.get('update') === 'sucesso'){
            
            new Notify({
              status: 'success',
              title: 'Informações salvas!',
              text: 'Suas informações foram salvas com sucesso.',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }


        // ================================================ Mascara =================================================== 
        $('#cep').mask('00000-000');
        $('#telefone').mask('(00)00000-0000');

        function mostrarSecao(secao) {
            document.querySelectorAll('.secaoPerfil').forEach(el => el.style.display = 'none');
            document.getElementById(secao).style.display = 'block';
        
            document.querySelectorAll('.opcoesPerfil li').forEach(li => li.classList.remove('active'));
            event.target.closest('li').classList.add('active');
        }

        // Exibir a seção de configurações da conta por padrão
        mostrarSecao('configuracoes');

        function toggleEdit() {
            const inputs = document.querySelectorAll('#userForm input');
            const spans = document.querySelectorAll('#userForm span');
            const editarBtn = document.getElementById('editarBtn');
            const atualizarBtn = document.getElementById('atualizarBtn');
            const cancelarBtn = document.getElementById('cancelarBtn');
            
            const isEditing = inputs[0].style.display === 'none';

            inputs.forEach(input => input.style.display = isEditing ? 'inline-block' : 'none');
            spans.forEach(span => span.style.display = isEditing ? 'none' : 'inline-block');
            editarBtn.style.display = isEditing ? 'none' : 'inline-block';
            atualizarBtn.style.display = isEditing ? 'inline-block' : 'none';
            cancelarBtn.style.display = isEditing ? 'inline-block' : 'none';
        }

        function cancelEdit(){
            // recarrega a página para cancelar alteração 
            window.location.reload();
        }

    </script>

<script>
    // Obter elementos do DOM
    const modal = document.getElementById("editarProdutoModal");
    const closeModal = document.getElementsByClassName("close")[0];
    const editarProdutoForm = document.getElementById("editarProdutoForm");

    // Função para abrir o modal com os dados do produto
    function abrirModal(produto) {
        modal.style.display = "block";
        
        // Preencher o formulário com os dados do produto
        document.getElementById("produtoId").value = produto.idProd;
        document.getElementById("titulo").value = produto.tituloProd;
        document.getElementById("descricao").value = produto.descricaoProd; // Agora preenche o textarea
        document.getElementById("valor").value = produto.valorProd;
        document.getElementById("estoque").value = produto.qtdeEstoque;

        editarProdutoForm.action = `/empresa/editar-produto/${produto.idProd}`;
    }

    // Função para fechar o modal
    closeModal.onclick = function() {
        modal.style.display = "none";
    }

    // Fechar o modal ao clicar fora dele
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
    
</body>
</html>