<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY, Fontawesome e css menu e do rodapé -->
    <%- include('../partial/essenciais'); %>

    <!-- CSS da pagina -->
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Perfil Cliente</title>
</head>
<body>
    <!-- Menu e menu lateral -->
    <%- include('../partial/header'); %>
    <!-- Fim menu e menu lateral -->

    <main>
        <section class="container">
            <section class="barraLateral">
                <ul class="opcoesPerfil">
                    <li onclick="mostrarSecao('configuracoes')">
                        <i class="fa-solid fa-gear"></i>
                        <span>Configurações da Conta</span>
                    </li>
                    <li onclick="mostrarSecao('notificacoes')">
                        <i class="fa-solid fa-bell"></i>
                        <span>Notificações</span>
                    </li>
                    <li onclick="mostrarSecao('acompanhamento')">
                        <i class="fa-solid fa-truck-fast"></i>
                        <span>Acompanhar Pedidos</span>
                    </li>
                    <li onclick="mostrarSecao('assinatura')">
                        <i class="fa-solid fa-star"></i>
                        <span>Assinatura Eco+</span>
                    </li>
                </ul>
                <section class="parteInferior">
                    <button class="sairBtn" onclick="window.location.href='/logout'">Sair</button>
                </section>
            </section> <!--barra lateral-->

            <section class="conteudo">

                <!--============================================= Seção Configurações da Conta =================================================================-->
                <section id="configuracoes" class="secaoPerfil">
                    <h2>Configurações da Conta</h2>
                    <form action="/usuario/atualizar" method="POST" id="userForm">

                        <section class="dadosPessoais">
                            <h2>Dados Pessoais</h2>

                            <div>
                                <label for="nome">Nome:</label>
                                <span id="nomeTexto"><%= user.nomeCliente %></span>
                                <input type="text" id="nome" name="nomeCliente" value="<%= user.nomeCliente %>" style="display: none;">
                            </div>
    
                            <div>
                                <label for="email">Email:</label>
                                <span id="emailTexto"><%= user.emailCliente %></span>
                                <input type="email" id="email" name="emailCliente" value="<%= user.emailCliente %>" style="display: none;">
                            </div>
    
                            <div>
                                <label for="telefone">Telefone:</label>
                                <span id="telefoneTexto"><%= user.celularCliente %></span>
                                <input type="tel" id="telefone" name="celularCliente" value="<%= user.celularCliente %>" style="display: none;">
                            </div>
    
                            <div>
                                <label for="cpf">CPF:</label>
                                <span id="cpfTexto"><%= user.cpfCliente %></span>
                                <input type="text" id="cpf" name="cpfCliente" value="<%= user.cpfCliente %>" style="display: none; border: none;" readonly>
                            </div>

                        </section>
                        
                        <section class="enderecoInfo">
                            <h2>Endereço</h2>

                            <div>
                                <label for="cep">CEP:</label>
                                <span id="cepTexto"><%= user.cepCliente %></span>
                                <input type="text" id="cep" name="cepCliente" value="<%= user.cepCliente %>" style="display: none;">
                            </div>   
    
                            <div>
                                <label for="logradouro">Logradouro:</label>
                                <span id="logradouroTexto"><%= user.logradouroCliente %></span>
                                <input type="text" id="logradouro" name="logradouroCliente" value="<%= user.logradouroCliente %>" style="display: none; border: none;" readonly>
                            </div>
    
                            <div>
                                <label for="bairro">Bairro:</label>
                                <span id="bairroTexto"><%= user.bairroCliente %></span>
                                <input type="text" id="bairro" name="bairroCliente" value="<%= user.bairroCliente %>" style="display: none; border: none;" readonly>
                            </div>
    
                            <div>
                                <label for="cidade">Cidade:</label>
                                <span id="cidadeTexto"><%= user.cidadeCliente %></span>
                                <input type="text" id="cidade" name="cidadeCliente" value="<%= user.cidadeCliente %>" style="display: none; border: none;" readonly>
                            </div>
    
                            <div>
                                <label for="uf">UF:</label>
                                <span id="ufTexto"><%= user.ufCliente %></span>
                                <input type="text" id="uf" name="ufCliente" value="<%= user.ufCliente %>" style="display: none; border: none;" readonly>
                            </div>

                            <div>
                                <label for="numeroResid">Número da residência:</label>
                                <span id="numeroResidTxt"><%= user.numeroCliente %></span>
                                <input type="text" id="uf" name="numeroCliente" value="<%= user.numeroCliente %>" style="display: none; border: none;">
                            </div>

                            <div>
                                <label for="complemento">Complemento:</label>
                                <span id="complementoTxt"><%= user.complementoCliente %></span>
                                <input type="text" id="uf" name="complementoCliente" value="<%= user.complementoCliente %>" style="display: none; border: none;">
                            </div>

                        </section>
                        
                        <div class="botoesAcao">
                            <button type="button" id="editarBtn" onclick="toggleEdit()">Editar informações</button>
                            <button type="submit" id="atualizarBtn" style="display: none;">Salvar</button>
                            <button type="button" id="cancelarBtn" style="display: none;" onclick="cancelEdit()">Cancelar</button>
                        </div>
                    </form>
                </section>

                <!-- Outras seções podem ser adicionadas aqui -->
                <section id="notificacoes" class="secaoPerfil">
                    <h2>Notificações</h2>
                    <div class="filtros-notificacoes">
                        <button onclick="filtrarNotificacoes('todas')">Todas</button>
                        <button onclick="filtrarNotificacoes(true)">Lidas</button>
                        <button onclick="filtrarNotificacoes(false)">Não Lidas</button>
                    </div>
                    <ul>
                        <% if (notificacoes && notificacoes.length > 0) { %>
                            <% notificacoes.forEach(notificacao => { %>
                                <li 
                                    class="notificacao-item <% if (!notificacao.lida) { %> nao-lida <% } %>" 
                                    onclick="abrirModalNotificacao('<%= notificacao.mensagem %>', <%= notificacao.idNotificacoes %>)"
                                    style="border-color: <% if (!notificacao.lida) { %>#FC7F2D<% } else { %>#CCCCCC<% } %>;">
                                    <i class="fa-solid fa-bell icone-notificacao" style="color: <% if (!notificacao.lida) { %>#FC7F2D<% } else { %>#CCCCCC<% } %>;"></i>
                                    <span class="mensagem-notificacao truncate"><%= notificacao.mensagem %></span>
                                    <span class="data-notificacao">
                                        <%= new Date(new Date(notificacao.dataNotificacao).setHours(new Date(notificacao.dataNotificacao).getHours() - 3)).toLocaleString('pt-BR', { 
                                            day: '2-digit', month: '2-digit', year: 'numeric', 
                                            hour: '2-digit', minute: '2-digit' 
                                        }) %>
                                    </span>
                                </li>
                            <% }); %>
                        <% } else { %>
                            <p>Sem notificações no momento.</p>
                        <% } %> 
                    </ul>                    
                </section>
                
                <!-- Modal para exibir a notificação -->
                <div id="modalNotificacao" class="modal" style="display: none;">
                    <div class="modal-content">
                        <span class="fechar-modal" onclick="fecharModal()">&times;</span>
                        <p id="conteudoNotificacao"></p>
                        <button id="btnExcluir" onclick="excluirNotificacao()" style="display: none;">Excluir Notificação</button>
                    </div>
                </div>

                <!-- ACOMPANHAR PEDIDOS -->
                <section id="acompanhamento" class="secaoPerfil">
                    <h2>Acompanhar pedidos</h2>

                    <!-- Filtro de Ordenação -->
    <div>
        <label for="filtroOrdenacaoUsuario">Ordenar por:</label>
        <select id="filtroOrdenacaoUsuario" onchange="filtrarPedidosUsuario()">
            <option value="" selected disabled>Selecione</option>
            <option value="recente">Mais Recentes</option>
            <option value="antigo">Mais Antigos</option>
        </select>
    </div>
                    
    <% if (pedidos.length > 0) { %>
        <div class="cards-container" id="usuarioPedidoCardsContainer">
            <% pedidos.forEach(pedido => { %>
            <div class="pedido-card" data-data-pedido="<%= pedido.data_pedido %>">
                <div class="card-header">
                    <h3>Pedido ID: <%= pedido.idPedidos %></h3>
                </div>
                <div class="card-body">
                    <p><strong>Data do Pedido:</strong> <%= moment(pedido.data_pedido).format("DD/MM/YYYY") %></p>
                    <p><strong>Total:</strong> R$ <%= pedido.total_pedido %></p>
                    <p><strong>Empresa:</strong> <%= pedido.razaoSocial || "Empresa ainda não enviou ocorrências" %></p>
                    <p><strong>Códigos de Rastreamento:</strong> <%= pedido.codigos_rastreio || "Código de rastreio indisponível no momento" %></p>
                    <p><strong>Ocorrências:</strong> <%= pedido.ocorrencias || "Aguardando ocorrências" %></p>
                </div>
            </div>
            <% }); %>
        </div>
        <% } else { %>
        <p>Você ainda não fez nenhum pedido.</p>
        <% } %>
    </section>
                
                
                <section id="assinatura" class="secaoPerfil">
                    <h2>Assinatura</h2>
                    <% if (assinatura) { %>
                        <div>
                            <strong>Nível da Assinatura:</strong> <%= assinatura.planoNome %><br>
                            <strong>Dias restantes:</strong> <%= assinatura.diasRestantes >= 0 ? assinatura.diasRestantes + ' dias' : 'Assinatura expirada' %>
                        </div>
                        <div class="botoesAcao">
                            <form id="cancelarAssinaturaForm" action="/cancelar-assinatura" method="post">
                                <button type="button" id="cancelarAssinaturaBtn">Cancelar Assinatura</button>
                            </form>
                        </div>
                    <% } else { %>
                        <div>
                            <p>Você ainda não possui uma assinatura.</p>
                            <button><a href="/ecopremium"> Assinar agora </a></button>
                        </div>
                    <% } %>
                </section>
            </section>
        </section>
    </main>

    <%- include('../partial/scripts-essenciais'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    
    <script>
        notificacoes.forEach(notificacao => {
            const data = new Date(notificacao.dataNotificacao);
            data.setHours(data.getHours() - 3);
            notificacao.dataNotificacao = data;
        });
    </script>

    <script>
        function filtrarPedidosUsuario() {
            const filtro = document.getElementById('filtroOrdenacaoUsuario').value;
            const container = document.getElementById('usuarioPedidoCardsContainer');
    
            if (!container) return;
    
            const pedidos = Array.from(container.getElementsByClassName('pedido-card'));
            
            pedidos.sort((a, b) => {
                const dataA = new Date(a.getAttribute('data-data-pedido'));
                const dataB = new Date(b.getAttribute('data-data-pedido'));
                return filtro === 'recente' ? dataB - dataA : dataA - dataB;
            });
    
            // Atualize o conteúdo do container com os elementos pedidos ordenados
            container.innerHTML = '';
            pedidos.forEach(pedido => container.appendChild(pedido));
        }
    </script>

    <script>
        document.getElementById('cancelarAssinaturaBtn').addEventListener('click', function(e) {
            e.preventDefault(); // Impede o envio imediato do formulário
    
            Swal.fire({
                title: 'Tem certeza que deseja cancelar sua assinatura?',
                text: "Você não poderá reverter essa ação!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sim, cancelar!',
                cancelButtonText: 'Não, manter assinatura'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Se o cliente confirmar, submete o formulário
                    document.getElementById('cancelarAssinaturaForm').submit();
                }
            });
        });
    </script>

    <script>
        function filtrarNotificacoes(lidas) {
            let url;
            if (lidas === 'todas') {
                url = '/notificacoes'; // Ponto de extremidade para todas as notificações
            } else {
                url = `/notificacoes?lidas=${lidas}`;
            }


            fetch(`/notificacoes?lidas=${lidas}`)
                .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao buscar notificações');
                }
            return response.json();
            })
            .then(data => {
            atualizarListaNotificacoes(data.notificacoes);
            })
            .catch(error => {
            console.error('Erro:', error);
            });
        }


        function atualizarListaNotificacoes(notificacoes) {
    const listaNotificacoes = document.querySelector('#notificacoes ul');
    listaNotificacoes.innerHTML = ''; // Limpa a lista atual

    if (notificacoes && notificacoes.length > 0) {
        notificacoes.forEach(notificacao => {
            const li = document.createElement('li');
            li.className = `notificacao-item ${!notificacao.lida ? 'nao-lida' : ''}`;
            li.style.borderColor = !notificacao.lida ? '#FC7F2D' : '#CCCCCC';
            li.onclick = () => abrirModalNotificacao(notificacao.mensagem, notificacao.idNotificacoes);

            li.innerHTML = `
                <i class="fa-solid fa-bell icone-notificacao" style="color: ${!notificacao.lida ? '#FC7F2D' : '#CCCCCC'};"></i>
                <span class="mensagem-notificacao truncate">${notificacao.mensagem}</span>
                <span class="data-notificacao">${new Date(notificacao.dataNotificacao).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })}</span>
            `;
            listaNotificacoes.appendChild(li);
        });
    } else {
        listaNotificacoes.innerHTML = '<p>Sem notificações no momento.</p>';
    }
}


        function abrirModalNotificacao(mensagem, idNotificacoes) {
            // Exibir a mensagem no modal
            document.getElementById('conteudoNotificacao').textContent = mensagem;
            document.getElementById('modalNotificacao').style.display = 'flex';
    
            const btnExcluir = document.getElementById('btnExcluir');
            btnExcluir.style.display = 'block';
            btnExcluir.setAttribute('data-id', idNotificacoes);

            // Marcar a notificação como lida (enviar ao servidor)
            fetch(`/notificacao/marcar-como-lida/${idNotificacoes}`, {
                method: 'POST',
            }).then(response => {
                if (response.ok) {
                    // Atualizar a interface para indicar que a notificação foi lida
                    const notificacaoItem = document.querySelector(`li[onclick*='${idNotificacoes}']`);
                    const notificacaoIcon = document.querySelector(`i[onclick*='${idNotificacoes}']`);
                    notificacaoItem.classList.remove('nao-lida');
                    notificacaoItem.classList.add('lida');
                    notificacaoItem.style.borderColor = '#CCCCCC'; // Mudar a borda para cinza
                    notificacaoIcon.style.color= '#CCCCCC';
                }
            });
        }
    
        function fecharModal() {
            document.getElementById('modalNotificacao').style.display = 'none';
        }

        function excluirNotificacao() {
            const idNotificacoes = document.getElementById('btnExcluir').getAttribute('data-id');

            fetch(`/notificacao/excluir/${idNotificacoes}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao excluir notificação');
                }
                return response.json();
            })
            .then(data => {
                // Fechar o modal
                fecharModal();
                
                // Atualizar a lista de notificações após a exclusão
                filtrarNotificacoes(); // Atualiza e mostra todas as notificações
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        }
    </script>
    <script>

        // ========================= Notify============================================
        const urlParams = new URLSearchParams(window.location.search);
        if(urlParams.get('update') === 'sucesso'){
            
            new Notify({
              status: 'success',
              title: 'Informações salvas!',
              text: 'Suas informações foram salvas com sucesso.',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }


        // ================================================ Mascara =================================================== 
        $('#cep').mask('00000-000');
        $('#telefone').mask('(00)00000-0000');

        function mostrarSecao(secao) {
            document.querySelectorAll('.secaoPerfil').forEach(el => el.style.display = 'none');
            document.getElementById(secao).style.display = 'block';
        
            document.querySelectorAll('.opcoesPerfil li').forEach(li => li.classList.remove('active'));
            event.target.closest('li').classList.add('active');
        }

        // Exibir a seção de configurações da conta por padrão
        mostrarSecao('configuracoes');

        function toggleEdit() {
            const inputs = document.querySelectorAll('#userForm input');
            const spans = document.querySelectorAll('#userForm span');
            const editarBtn = document.getElementById('editarBtn');
            const atualizarBtn = document.getElementById('atualizarBtn');
            const cancelarBtn = document.getElementById('cancelarBtn');
            
            const isEditing = inputs[0].style.display === 'none';

            inputs.forEach(input => input.style.display = isEditing ? 'inline-block' : 'none');
            spans.forEach(span => span.style.display = isEditing ? 'none' : 'inline-block');
            editarBtn.style.display = isEditing ? 'none' : 'inline-block';
            atualizarBtn.style.display = isEditing ? 'inline-block' : 'none';
            cancelarBtn.style.display = isEditing ? 'inline-block' : 'none';
        }

        function cancelEdit(){
            // recarrega a página para cancelar alteração 
            window.location.reload();
        }

    </script>
    
</body>
</html>