<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY, Fontawesome e css menu e do rodapé -->
    <%- include('../partial/essenciais'); %>

    <!-- CSS da pagina -->
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Perfil Cliente</title>
</head>
<body>
    <!-- Menu e menu lateral -->
    <%- include('../partial/header'); %>
    <!-- Fim menu e menu lateral -->

    <main>
        <section class="container">
            <section class="barraLateral">
                <ul class="opcoesPerfil">
                    <li onclick="mostrarSecao('configuracoes')">
                        <i class="fa-solid fa-gear"></i>
                        <span>Configurações da Conta</span>
                    </li>
                    <li onclick="mostrarSecao('notificacoes')">
                        <i class="fa-solid fa-bell"></i>
                        <span>Notificações</span>
                    </li>
                    <li onclick="mostrarSecao('acompanhamento')">
                        <i class="fa-solid fa-truck-fast"></i>
                        <span>Acompanhar Pedidos</span>
                    </li>
                    <li onclick="mostrarSecao('assinatura')">
                        <i class="fa-solid fa-star"></i>
                        <span>Assinatura Eco+</span>
                    </li>
                </ul>
                <section class="parteInferior">
                    <button class="sairBtn" onclick="window.location.href='/logout'">Sair</button>
                </section>
            </section> <!--barra lateral-->

            <section class="conteudo">

                <!--============================================= Seção Configurações da Conta =================================================================-->
                <section id="configuracoes" class="secaoPerfil">
                    <h2>Configurações da Conta</h2>
                    <form action="/usuario/atualizar" method="POST" id="userForm">
                        <div>
                            <label for="nome">Nome:</label>
                            <span id="nomeTexto"><%= user.nomeCliente %></span>
                            <input type="text" id="nome" name="nomeCliente" value="<%= user.nomeCliente %>" style="display: none;">
                        </div>

                        <div>
                            <label for="email">Email:</label>
                            <span id="emailTexto"><%= user.emailCliente %></span>
                            <input type="email" id="email" name="emailCliente" value="<%= user.emailCliente %>" style="display: none;">
                        </div>

                        <div>
                            <label for="telefone">Telefone:</label>
                            <span id="telefoneTexto"><%= user.celularCliente %></span>
                            <input type="tel" id="telefone" name="celularCliente" value="<%= user.celularCliente %>" style="display: none;">
                        </div>

                        <div>
                            <label for="cpf">CPF:</label>
                            <span id="cpfTexto"><%= user.cpfCliente %></span>
                            <input type="text" id="cpf" name="cpfCliente" value="<%= user.cpfCliente %>" style="display: none; border: none;" readonly>
                        </div>

                        <div>
                            <label for="cep">CEP:</label>
                            <span id="cepTexto"><%= user.cepCliente %></span>
                            <input type="text" id="cep" name="cepCliente" value="<%= user.cepCliente %>" style="display: none;">
                        </div>   

                        <div>
                            <label for="logradouro">Logradouro:</label>
                            <span id="logradouroTexto"><%= user.logradouroCliente %></span>
                            <input type="text" id="logradouro" name="logradouroCliente" value="<%= user.logradouroCliente %>" style="display: none; border: none;" readonly>
                        </div>

                        <div>
                            <label for="bairro">Bairro:</label>
                            <span id="bairroTexto"><%= user.bairroCliente %></span>
                            <input type="text" id="bairro" name="bairroCliente" value="<%= user.bairroCliente %>" style="display: none; border: none;" readonly>
                        </div>

                        <div>
                            <label for="cidade">Cidade:</label>
                            <span id="cidadeTexto"><%= user.cidadeCliente %></span>
                            <input type="text" id="cidade" name="cidadeCliente" value="<%= user.cidadeCliente %>" style="display: none; border: none;" readonly>
                        </div>

                        <div>
                            <label for="uf">Uf:</label>
                            <span id="ufTexto"><%= user.ufCliente %></span>
                            <input type="text" id="uf" name="ufCliente" value="<%= user.ufCliente %>" style="display: none; border: none;" readonly>
                        </div>
                        <div class="botoesAcao">
                            <button type="button" id="editarBtn" onclick="toggleEdit()">Editar informações</button>
                            <button type="submit" id="atualizarBtn" style="display: none;">Salvar</button>
                            <button type="button" id="cancelarBtn" style="display: none;" onclick="cancelEdit()">Cancelar</button>
                        </div>
                    </form>
                </section>

                <!-- Outras seções podem ser adicionadas aqui -->
                <section id="notificacoes" class="secaoPerfil">
                    <h2>Notificações</h2>
                </section>
                <section id="acompanhamento" class="secaoPerfil">
                    <h2>Acompanhar pedidos</h2>
                
                    <table class="table-pedidos">
                        <thead>
                            <tr>
                                <th>ID do Pedido</th>
                                <th>Data</th>
                                <th>Ocorrências</th>
                                <th>Código de Rastreamento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (pedidos.length > 0) { %>
                                <% pedidos.forEach(pedido => { %>
                                    <tr>
                                        <td><%= pedido.idPedidos %></td>
                                        <td><%= new Date(pedido.data_pedido).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) %></td>
                                        <td>
                                            <% pedido.ocorrencias.forEach(ocorrencia => { %>
                                                <p><%= ocorrencia.descricao %> - <%= ocorrencia.dataocorrencia ? ocorrencia.dataocorrencia.toLocaleDateString('pt-BR') : 'Sem data' %></p>
                                            <% }); %>
                                        </td>
                                        <td>
                                            <%= pedido.codigorastreio ? pedido.codigorastreio : 'Código de rastreio indisponível no momento' %>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="4">Nenhum pedido encontrado</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </section>
                
                <section id="assinatura" class="secaoPerfil">
                    <h2>Assinatura</h2>
                    <% if (assinatura) { %>
                        <div>
                            <strong>Nível da Assinatura:</strong> <%= assinatura.planoNome %><br>
                            <strong>Dias restantes:</strong> <%= assinatura.diasRestantes >= 0 ? assinatura.diasRestantes + ' dias' : 'Assinatura expirada' %>
                        </div>
                        <div class="botoesAcao">
                            <button onclick="mudarPlano()">Mudar Plano</button>
                            <button onclick="cancelarAssinatura()">Cancelar Assinatura</button>
                        </div>
                    <% } else { %>
                        <div>
                            <p>Você ainda não possui uma assinatura.</p>
                            <button><a href="/ecopremium"> Assinar agora </a></button>
                        </div>
                    <% } %>
                </section>
            </section>
        </section>
    </main>

    <%- include('../partial/scripts-essenciais'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script>

        // ========================= Notify============================================
        const urlParams = new URLSearchParams(window.location.search);
        if(urlParams.get('update') === 'sucesso'){
            
            new Notify({
              status: 'success',
              title: 'Informações salvas!',
              text: 'Suas informações foram salvas com sucesso.',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }


        // ================================================ Mascara =================================================== 
        $('#cep').mask('00000-000');
        $('#telefone').mask('(00)00000-0000');

        function mostrarSecao(secao) {
            document.querySelectorAll('.secaoPerfil').forEach(el => el.style.display = 'none');
            document.getElementById(secao).style.display = 'block';
        
            document.querySelectorAll('.opcoesPerfil li').forEach(li => li.classList.remove('active'));
            event.target.closest('li').classList.add('active');
        }

        // Exibir a seção de configurações da conta por padrão
        mostrarSecao('configuracoes');

        function toggleEdit() {
            const inputs = document.querySelectorAll('#userForm input');
            const spans = document.querySelectorAll('#userForm span');
            const editarBtn = document.getElementById('editarBtn');
            const atualizarBtn = document.getElementById('atualizarBtn');
            const cancelarBtn = document.getElementById('cancelarBtn');
            
            const isEditing = inputs[0].style.display === 'none';

            inputs.forEach(input => input.style.display = isEditing ? 'inline-block' : 'none');
            spans.forEach(span => span.style.display = isEditing ? 'none' : 'inline-block');
            editarBtn.style.display = isEditing ? 'none' : 'inline-block';
            atualizarBtn.style.display = isEditing ? 'inline-block' : 'none';
            cancelarBtn.style.display = isEditing ? 'inline-block' : 'none';
        }

        function cancelEdit(){
            // recarrega a página para cancelar alteração 
            window.location.reload();
        }

    </script>
    
</body>
</html>