<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY, Fontawesome e css menu e do rodapé -->
    <%- include('../partial/essenciais'); %>

    <!-- CSS da pagina -->
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Perfil Cliente</title>
</head>
<body>
    <!-- Menu e menu lateral -->
    <%- include('../partial/header'); %>
    <!-- Fim menu e menu lateral -->

    <main>
        <!-- ===================================== Seções do perfil ==================================================-->
        <section class="container">
            <section class="barraLateral">
                <ul class="opcoesPerfil">
                    <li onclick="mostrarSecao('configuracoes', event)">
                        <i class="fa-solid fa-gear"></i>
                        <span>Configurações da Conta</span>
                    </li>

                    <li onclick="mostrarSecao('meus-produtos')">
                        <i class="fa-solid fa-boxes-stacked"></i>
                        <span>Meus produtos</span>
                    </li>

                    <li>
                        <a href="/cadastro-produto" >
                            <i class="fa-solid fa-circle-plus"></i>
                            <span>Novo produto</span>
                        </a>
                    </li>

                    <li onclick="mostrarSecao('vendidos')">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <span>Produtos vendidos</span>
                    </li>

                    <li onclick="mostrarSecao('monitorar')">
                        <i class="fa-regular fa-eye"></i>
                        <span>Monitorar vendas</span>
                    </li>
                </ul>
                <section class="parteInferior">
                    <button class="sairBtn" onclick="window.location.href='/logout'">Sair</button>
                </section>
            </section> <!--barra lateral-->

            <section class="conteudo">
                <!-- Seção Configurações da Conta -->
                <section id="configuracoes" class="secaoPerfil">
                    <h2>Configurações da Conta da Empresa</h2>
                    <form action="/empresa/atualizar" method="POST" id="empresaForm">
                        <div>
                            <label for="razaoSocial">Razão Social:</label>
                            <span id="razaoSocialTexto"><%= Empresa.razaoSocial %></span>
                            <input type="text" id="razaoSocial" name="razaoSocial" value="<%= Empresa.razaoSocial %>" style="display: none;">
                        </div>
                
                        <div>
                            <label for="email">Email:</label>
                            <span id="emailTexto"><%= Empresa.emailEmpresa %></span>
                            <input type="email" id="email" name="emailEmpresa" value="<%= Empresa.emailEmpresa %>" style="display: none;">
                        </div>
                
                        <div>
                            <label for="telefone">Telefone:</label>
                            <span id="telefoneTexto"><%= Empresa.celularEmpresa %></span>
                            <input type="tel" id="telefone" name="celularEmpresa" value="<%= Empresa.celularEmpresa %>" style="display: none;">
                        </div>
                
                        <div>
                            <label for="cnpj">CNPJ:</label>
                            <span id="cnpjTexto"><%= Empresa.cpnjempresa %></span>
                            <input type="text" id="cnpj" name="cnpjEmpresa" value="<%= Empresa.cpnjempresa %>" style="display: none;" readonly>
                        </div>
                
                        <div>
                            <label for="cep">CEP:</label>
                            <span id="cepTexto"><%= Empresa.cepEmpresa %></span>
                            <input type="text" id="cep" name="cepEmpresa" value="<%= Empresa.cepEmpresa %>" style="display: none;">
                        </div>   
                
                        <div>
                            <label for="logradouro">Logradouro:</label>
                            <span id="logradouroTexto"><%= Empresa.logradouroEmpresa %></span>
                            <input type="text" id="logradouro" name="logradouroEmpresa" value="<%= Empresa.logradouroEmpresa %>" style="display: none;" readonly>
                        </div>
                
                        <div>
                            <label for="bairro">Bairro:</label>
                            <span id="bairroTexto"><%= Empresa.bairroEmpresa %></span>
                            <input type="text" id="bairro" name="bairroEmpresa" value="<%= Empresa.bairroEmpresa %>" style="display: none;" readonly>
                        </div>
                
                        <div>
                            <label for="cidade">Cidade:</label>
                            <span id="cidadeTexto"><%= Empresa.cidadeEmpresa %></span>
                            <input type="text" id="cidade" name="cidadeEmpresa" value="<%= Empresa.cidadeEmpresa %>" style="display: none;" readonly>
                        </div>
                
                        <div>
                            <label for="uf">Uf:</label>
                            <span id="ufTexto"><%= Empresa.ufEmpresa %></span>
                            <input type="text" id="uf" name="ufEmpresa" value="<%= Empresa.ufEmpresa %>" style="display: none;" readonly>
                        </div>
                        
                        <div class="botoesAcao">
                            <button type="button" id="editarBtn" onclick="toggleEdit()">Editar informações</button>
                            <button type="submit" id="atualizarBtn" style="display: none;">Salvar</button>
                            <button type="button" id="cancelarBtn" style="display: none;" onclick="cancelEdit()">Cancelar</button>
                        </div>
                    </form>
                </section>
                

                <!-- Outras seções podem ser adicionadas aqui -->
                <section id="meus-produtos"class="secaoPerfil">
                    <!-- Conteúdo da seção de notificações -->
                </section>
                <section id="novo-produto" class="secaoPerfil">
                    <!-- Conteúdo da seção de pedidos -->
                </section>
                <section id="vendidos" class="secaoPerfil">
                    <!-- Conteúdo da seção de acompanhamento -->
                </section>
                <section id="monitorar" class="secaoPerfil">
                    <!-- Conteúdo da seção de assinatura -->
                </section>
            </section>
        </section>
    </main>

    <%- include('../partial/scripts-essenciais'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if(urlParams.get('update') === 'sucesso'){
            
            new Notify({
              status: 'success',
              title: 'Informações salvas!',
              text: 'Suas informações foram salvas com sucesso.',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }

        $('#cep').mask('00000-000');
        $('#telefone').mask('(00)00000-0000');

        function mostrarSecao(secao) {
            document.querySelectorAll('.secaoPerfil').forEach(el => el.style.display = 'none');
            document.getElementById(secao).style.display = 'block';
        
            document.querySelectorAll('.opcoesPerfil li').forEach(li => li.classList.remove('active'));
            event.target.closest('li').classList.add('active');
        }

        // Exibir a seção de configurações da conta por padrão
        mostrarSecao('configuracoes');

        function toggleEdit() {
            const inputs = document.querySelectorAll('#empresaForm input');
            const spans = document.querySelectorAll('#empresaForm span');
            const editarBtn = document.getElementById('editarBtn');
            const atualizarBtn = document.getElementById('atualizarBtn');
            const cancelarBtn = document.getElementById('cancelarBtn');
            
            const isEditing = inputs[0].style.display === 'none';

            inputs.forEach(input => input.style.display = isEditing ? 'inline-block' : 'none');
            spans.forEach(span => span.style.display = isEditing ? 'none' : 'inline-block');
            editarBtn.style.display = isEditing ? 'none' : 'inline-block';
            atualizarBtn.style.display = isEditing ? 'inline-block' : 'none';
            cancelarBtn.style.display = isEditing ? 'inline-block' : 'none';
        }

        function cancelEdit(){
            // recarrega a página para cancelar alteração 
            window.location.reload();
        }

    </script>
    
</body>
</html>