<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY, Fontawesome e css menu e do rodapé -->
    <%- include('../partial/essenciais'); %>

    <!-- CSS da pagina -->
    <link rel="stylesheet" href="/css/perfil.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
    <title>Perfil Empresa</title>
</head>
<body>
    <!-- Menu e menu lateral -->
    <%- include('../partial/header'); %>
    <!-- Fim menu e menu lateral -->

    <main>
        <!-- ===================================== Seções do perfil ==================================================-->
        <section class="container">
            <section class="barraLateral">
                <ul class="opcoesPerfil">
                    <li onclick="mostrarSecao('configuracoes', event)">
                        <i class="fa-solid fa-gear"></i>
                        <span>Configurações da Conta</span>
                    </li>

                    <li onclick="mostrarSecao('meus-produtos')">
                        <i class="fa-solid fa-boxes-stacked"></i>
                        <span>Meus produtos</span>
                    </li>

                    <li>
                        <a href="/cadastro-produto">
                            <i class="fa-solid fa-circle-plus"></i>
                            <span>Novo produto</span>
                        </a>
                    </li>

                    <li onclick="mostrarSecao('vendidos')">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <span>Produtos vendidos</span>
                    </li>

                </ul>
                <section class="parteInferior">
                    <button class="sairBtn" onclick="window.location.href='/logout'">Sair</button>
                </section>
            </section> <!--barra lateral-->

            <section class="conteudo">

                
                <!-- Seção Configurações da Conta -->
                <section id="configuracoes" class="secaoPerfil">
                    <h2>Configurações da Conta da Empresa</h2>
                    <form action="/empresa/atualizar" method="POST" id="empresaForm">

                        <section class="dadosPessoais">
                            <h2>Dados Pessoais</h2>
                        <div>
                            <label for="razaoSocial">Razão Social:</label>
                            <span id="razaoSocialTexto"><%= Empresa.razaoSocial %></span>
                            <input type="text" id="razaoSocial" name="razaoSocial" value="<%= Empresa.razaoSocial %>" style="display: none;">
                        </div>
                
                        <div>
                            <label for="email">Email:</label>
                            <span id="emailTexto"><%= Empresa.emailEmpresa %></span>
                            <input type="email" id="email" name="emailEmpresa" value="<%= Empresa.emailEmpresa %>" style="display: none;">
                        </div>
                
                        <div>
                            <label for="telefone">Telefone:</label>
                            <span id="telefoneTexto"><%= Empresa.celularEmpresa %></span>
                            <input type="tel" id="telefone" name="celularEmpresa" value="<%= Empresa.celularEmpresa %>" style="display: none;">
                        </div>
                
                        <div>
                            <label for="cnpj">CNPJ:</label>
                            <span id="cnpjTexto"><%= Empresa.cpnjempresa %></span>
                            <input type="text" id="cnpj" name="cnpjEmpresa" value="<%= Empresa.cpnjempresa %>" style="display: none;" readonly>
                        </div>
                    </section>
                
                    <section class="enderecoInfo">
                        <h2>Endereço</h2>
                        <div>
                            <label for="cep">CEP:</label>
                            <span id="cepTexto"><%= Empresa.cepEmpresa %></span>
                            <input type="text" id="cep" name="cepEmpresa" value="<%= Empresa.cepEmpresa %>" style="display: none;">
                        </div>   
                
                        <div>
                            <label for="logradouro">Logradouro:</label>
                            <span id="logradouroTexto"><%= Empresa.logradouroEmpresa %></span>
                            <input type="text" id="logradouro" name="logradouroEmpresa" value="<%= Empresa.logradouroEmpresa %>" style="display: none;" readonly>
                        </div>
                
                        <div>
                            <label for="bairro">Bairro:</label>
                            <span id="bairroTexto"><%= Empresa.bairroEmpresa %></span>
                            <input type="text" id="bairro" name="bairroEmpresa" value="<%= Empresa.bairroEmpresa %>" style="display: none;" readonly>
                        </div>
                
                        <div>
                            <label for="cidade">Cidade:</label>
                            <span id="cidadeTexto"><%= Empresa.cidadeEmpresa %></span>
                            <input type="text" id="cidade" name="cidadeEmpresa" value="<%= Empresa.cidadeEmpresa %>" style="display: none;" readonly>
                        </div>
                
                        <div>
                            <label for="uf">Uf:</label>
                            <span id="ufTexto"><%= Empresa.ufEmpresa %></span>
                            <input type="text" id="uf" name="ufEmpresa" value="<%= Empresa.ufEmpresa %>" style="display: none;" readonly>
                        </div>
                    </section>
                        
                        <div class="botoesAcao">
                            <button type="button" id="editarBtn" onclick="toggleEdit()">Editar informações</button>
                            <button type="submit" id="atualizarBtn" style="display: none;">Salvar</button>
                            <button type="button" id="cancelarBtn" style="display: none;" onclick="cancelEdit()">Cancelar</button>
                        </div>
                    </form>
                </section>
                
                <!-- Sessão meus produtos -->
                <section id="meus-produtos" class="secaoPerfil">
                    <h2>Meus Produtos</h2>

                    <!-- Filtros de Categoria -->
                    <div class="filtros">
                        <button onclick="filtrarCategoria('moda')">Moda</button>
                        <button onclick="filtrarCategoria('cosmetico')">Cosméticos</button>
                        <button onclick="filtrarCategoria('higiene')">Higiene</button>
                        <button onclick="filtrarCategoria('bag')">Eco Bags</button>
                    </div>
                
                    <!-- Ordenação -->
                    <div class="ordenacao">
                        <label for="ordenar">Ordenar por:</label>
                        <select id="ordenar" onchange="ordenarProdutos()">
                            <option disabled selected>Selecione o metodo</option>
                            <option value="alfabetica">Ordem Alfabética</option>
                            <option value="menorEstoque">Menor Estoque</option>
                            <option value="maiorEstoque">Maior Estoque</option>
                            <option value="recentes">Mais Recentes</option>
                        </select>
                    </div>

                    <div class="produtos-container">
                      <% produtos.forEach(produto => { %>
                        <div class="produto-card">
                          <% if (produto.imagemProd) { %>
                            <img src="<%= produto.imagemProd %>" alt="<%= produto.tituloProd %>" class="imagem-produto" />
                          <% } %>
                          <div class="info-produto">
                            <h4><%= produto.tituloProd %></h4>
                            <p class="descProduto">Descrição: <%= produto.descricaoProd %></p>
                            <p>Preço: R$ <%= produto.valorProd %></p>
                            <p>Estoque: <%= produto.qtdeEstoque %></p>
                          </div>
                          
                          <div class="acoes-produto">
                            <button class="editarBtn" type="button" onclick="abrirModal({
                                idProd: '<%= produto.idProd %>',
                                tituloProd: '<%= produto.tituloProd %>',
                                descricaoProd: '<%= escape(produto.descricaoProd) %>',
                                valorProd: '<%= produto.valorProd %>',
                                qtdeEstoque: '<%= produto.qtdeEstoque %>'
                            })">
                                Editar
                            </button>
                            

                            <form action="/empresa/remover-produto/<%= produto.idProd %>" method="POST" class="remover-produto-form">
                                <button class="removerBtn" type="button" onclick="confirmarRemocao('<%= produto.idProd %>')">Remover</button>
                            </form>

                          </div>
                        </div>
                      <% }) %>
                    </div>

                    <!-- Modal de Edição de Produto -->
                    <div id="editarProdutoModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <!-- Formulário de edição de produto -->
                            <form id="editarProdutoForm" method="POST">
                                <input type="hidden" id="produtoId" name="idProd">
                                
                                <label for="titulo">Título:</label>
                                <input type="text" id="titulo" name="tituloProd">

                                <label for="descricao">Descrição:</label>
                                <!-- Substitua o input por um textarea -->
                                <textarea id="descricao" name="descricaoProd" rows="5"></textarea>

                                <label for="valor">Preço:</label>
                                <input type="text" id="valor" name="valorProd">

                                <label for="estoque">Quantidade em Estoque:</label>
                                <input type="number" id="estoque" name="qtdeEstoque">

                                <button type="submit" onclick="confirmarEdicao(event)">Salvar Alterações</button>
                            </form>
                        </div>
                    </div>

                </section>
                  
                <!-- SESSÃO DO NOVO PRODUTO -->
                <section id="novo-produto" class="secaoPerfil">
                    <!-- Sessão novo produto -->
                </section>


<!-- Sessão Produtos Vendidos -->
<section id="vendidos" class="secaoPerfil">
    <h2>Produtos Vendidos</h2>

    <% if (pedidos && pedidos.length > 0) { %>
        <div class="empresa-cards-container">
            <% pedidos.forEach(pedido => { %>
            <div class="pedido-card-empresa">
                <div class="card-header">
                    <h3>ID Pedido: <%= pedido.idPedidos %></h3>
                </div>
                <div class="card-body">
                    <p><strong>Data do Pedido:</strong> <%= moment(pedido.data_pedido).format('DD/MM/YYYY') %></p>
                    <p><strong>Valor Total:</strong> R$ <%= pedido.total_pedido %></p>
                    <p><strong>Cliente:</strong> <%= pedido.nomeCliente %></p>
                    <p><strong>Status Pedido:</strong> <%= pedido.ocorrenciaDescricao ? pedido.ocorrenciaDescricao : 'Pendente' %></p>
                </div>
                <div class="card-footer">
                    <button class="notificarBtn" data-id="<%= pedido.idPedidos %>">Detalhes</button>
                </div>
            </div>
            <% }) %>
        </div>
        <% } else { %>
        <p>Nenhum pedido vendido ainda.</p>
        <% } %>

    <!-- Formulário de Notificação -->
    <div class="formNotificar" style="display: none;">
        <div class="formContainer">
        <form id="formNotificar" action="/atualizar-pedido" method="post">
            <input type="hidden" name="idPedido" id="idPedido">

            <article class="txtForm">
                <h2>Andamento do Pedido</h2>
                <span><i class="fa-solid fa-xmark fecharForm" onclick="fecharForm()"></i></span>
            </article>

            <h3>Código de rastreio:</h3>
            <input type="text" name="codigo_rastreio" id="codigo_rastreio">

            <h3>Histórico de Rastreios:</h3>
            <div id="historicoRastreios"></div>

            <!-- Itens do pedido serão listados aqui -->
            <h3>Itens do pedido:</h3>
            <div id="itensPedido"></div>

            <!-- <h3>Data da ocorrência:</h3>
            <input type="date" name="dataOcorrencia" id="dataOcorrencia"> -->

            <h3>Local de entrega:</h3>
            <p id="localEntrega"><!--AQUI DEVE APARECER O local_entrega da tabela pedidos--></p>                

            <h3>Status do Pedido:</h3>
            <select name="andamentoPedido" id="andamentoPedido">
                <option value="1">Coletado</option>
                <option value="2">Em andamento</option>
                <option value="3">Pedido entregue</option>
                <option value="4">Falha ao entregar</option>
                <option value="5">Nova tentativa de entrega</option>
                <option value="6">Pedido cancelado</option>
            </select>

            <button type="submit">Notificar</button>
        </form>
    </div>
    </div>
</section>

    </main>

    <%- include('../partial/scripts-essenciais'); %>

    <script>
        document.querySelectorAll('.notificarBtn').forEach(button => {
            button.addEventListener('click', async (event) => {
                const pedidoId = event.target.dataset.id;
    
                // Atribuir o pedidoId no campo oculto para ambos os scripts
                document.getElementById('idPedido').value = pedidoId;
    
                try {
                    // Fazer as duas requisições AJAX em paralelo
                    const [responseItens] = await Promise.all([
                        fetch(`/itens-pedido/${pedidoId}`),
                    ]);
    
                    // Processar a resposta dos itens do pedido e histórico de rastreio
                    const { itensPedido, rastreio, historicoRastreios, pedidoEntregue } = await responseItens.json();
                    // Atualizar os itens do pedido
                    let itensHtml = '';
                    itensPedido.forEach(item => {
                        itensHtml += `<p>${item.tituloProd} - Quantidade: ${item.qtde}, Subtotal: R$ ${item.subtotal}, Tamanho: ${item.tamanho_itemPedido}</p>`;
                    });
                    document.getElementById('itensPedido').innerHTML = itensHtml;
    
                    // Atualizar o campo de rastreio
                    const rastreioInput = document.getElementById('codigo_rastreio');
                    if (rastreio) {
                        rastreioInput.value = rastreio;
                        rastreioInput.readOnly = true;
                    } else {
                        rastreioInput.value = '';
                        rastreioInput.readOnly = false;
                    }
    
                    // Exibir o histórico de rastreios
                    let historicoHtml = '';
                    historicoRastreios.forEach(historico => {
    const dataOcorrencia = new Date(historico.dataocorrencia);
    const dataFormatada = dataOcorrencia.toLocaleString('pt-BR', {
        day: '2-digit',
        month: '2-digit',
        year: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
    });

    historicoHtml += `<p>${dataFormatada} - ${historico.ocorrenciaDescricao} (Código: ${historico.codigo_rastreio})</p>`;
});
document.getElementById('historicoRastreios').innerHTML = historicoHtml;
    
                    // Desabilitar o formulário se algum rastreio tiver status "Pedido Entregue"
                    const submitButton = document.querySelector('#formNotificar button[type="submit"]');
                    if (pedidoEntregue) {
                        document.getElementById('dataOcorrencia').setAttribute('disabled', 'disabled');
                        document.getElementById('andamentoPedido').setAttribute('disabled', 'disabled');
                        submitButton.style.display = 'none';
                    } else {
                        document.getElementById('dataOcorrencia').removeAttribute('disabled');
                        document.getElementById('andamentoPedido').removeAttribute('disabled');
                        submitButton.style.display = 'block';
                    }
    
    
                    // Exibir o formulário
                    document.querySelector('.formNotificar').style.display = 'block';
    
                } catch (error) {
                    console.error('Erro ao processar os dados:', error);
                }
            });
        });
    
        function fecharForm() {
            document.querySelector('.formNotificar').style.display = 'none';
        }
    </script>
    

    <script>
        // Manipulação do botão de notificação
        document.querySelectorAll('.notificarBtn').forEach(btn => {
            btn.addEventListener('click', function() {
                const pedidoId = this.getAttribute('data-id');
    
                // Atribuir o pedidoId no campo oculto
                document.getElementById('idPedido').value = pedidoId;
    
                // Fazer a requisição AJAX para buscar o local de entrega
                fetch(`/api/pedido-entrega?pedidoId=${pedidoId}`)
                    .then(response => response.json())
                    .then(data => {
                        // Atualizar o local de entrega
                        document.getElementById('localEntrega').innerText = data.localEntrega;
    
                        // Exibir o formulário
                        document.querySelector('.formNotificar').style.display = 'block';
                    })
                    .catch(err => console.error('Erro ao carregar o local de entrega:', err));
            });
        });
    
        function fecharForm() {
            document.querySelector('.formNotificar').style.display = 'none';
        }
    </script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if(urlParams.get('update') === 'sucesso'){
            
            new Notify({
              status: 'success',
              title: 'Informações salvas!',
              text: 'Suas informações foram salvas com sucesso.',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }

        $('#cep').mask('00000-000');
        $('#telefone').mask('(00)00000-0000');

        function mostrarSecao(secao) {
            document.querySelectorAll('.secaoPerfil').forEach(el => el.style.display = 'none');
            document.getElementById(secao).style.display = 'block';
        
            document.querySelectorAll('.opcoesPerfil li').forEach(li => li.classList.remove('active'));
            event.target.closest('li').classList.add('active');
        }

        // Exibir a seção de configurações da conta por padrão
        mostrarSecao('configuracoes');

        function toggleEdit() {
            const inputs = document.querySelectorAll('#empresaForm input');
            const spans = document.querySelectorAll('#empresaForm span');
            const editarBtn = document.getElementById('editarBtn');
            const atualizarBtn = document.getElementById('atualizarBtn');
            const cancelarBtn = document.getElementById('cancelarBtn');
            
            const isEditing = inputs[0].style.display === 'none';

            inputs.forEach(input => input.style.display = isEditing ? 'inline-block' : 'none');
            spans.forEach(span => span.style.display = isEditing ? 'none' : 'inline-block');
            editarBtn.style.display = isEditing ? 'none' : 'inline-block';
            atualizarBtn.style.display = isEditing ? 'inline-block' : 'none';
            cancelarBtn.style.display = isEditing ? 'inline-block' : 'none';
        }

        function cancelEdit(){
            // recarrega a página para cancelar alteração 
            window.location.reload();
        }

    </script>

    <script>
        // Obter elementos do DOM
        const modal = document.getElementById("editarProdutoModal");
        const closeModal = document.getElementsByClassName("close")[0];
        const editarProdutoForm = document.getElementById("editarProdutoForm");

        // Função para abrir o modal com os dados do produto
        function abrirModal(produto) {
            modal.style.display = "block";
            
            // Preencher o formulário com os dados do produto
            document.getElementById("produtoId").value = produto.idProd;
            document.getElementById("titulo").value = produto.tituloProd;
            // Usar unescape para mostrar a descrição sem caracteres especiais escapados
            document.getElementById("descricao").value = unescape(produto.descricaoProd);
            document.getElementById("valor").value = produto.valorProd;
            document.getElementById("estoque").value = produto.qtdeEstoque;

            editarProdutoForm.action = `/empresa/editar-produto/${produto.idProd}`;
        }

        // Função para fechar o modal
        closeModal.onclick = function() {
            modal.style.display = "none";
        }

        // Fechar o modal ao clicar fora dele
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

<script>
    function confirmarRemocao(produtoId) {
Swal.fire({
    title: 'Tem certeza?',
    text: "Você não poderá reverter isso!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Sim, remover!',
    cancelButtonText: 'Cancelar'
}).then((result) => {
    if (result.isConfirmed) {
        // Submeter o formulário após confirmação
        document.querySelector(`form[action="/empresa/remover-produto/${produtoId}"]`).submit();
    }
});
}
</script>

<script>
    function confirmarEdicao(event) {
        event.preventDefault(); // Impede o envio do formulário automaticamente

        Swal.fire({
            title: "Você quer salvar as alterações feitas neste produto?",
            showDenyButton: true, // Mostra o botão de negação
            showCancelButton: true, // Mostra o botão de cancelar
            confirmButtonText: "Salvar",
            denyButtonText: `Não salvar`,
            cancelButtonText: 'Cancelar',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire("Salvo!", "As alterações foram salvas.", "success");
                // Submete o formulário após confirmação
                document.getElementById('editarProdutoForm').submit();
            } else if (result.isDenied) {
                Swal.fire("Alterações não salvas", "Nenhuma alteração foi feita.", "info");
            }
        });
    }
</script>

<script>
    // Função para filtrar produtos por categoria
function filtrarCategoria(categoria) {
    const empresaId = "<%= autenticado.id %>"; // Inclua o id da empresa autenticada
    fetch(`/empresa/${empresaId}/produtos/categoria/${categoria}`)
        .then(response => response.json())
        .then(produtos => {
            console.log(produtos); // Verifique os produtos retornados
            atualizarProdutosNaTela(produtos);
        })
        .catch(error => console.error('Erro ao filtrar produtos:', error));
}

// Função para ordenar produtos
function ordenarProdutos() {
    const empresaId = "<%= autenticado.id %>"; // Inclua o id da empresa autenticada
    const criterio = document.getElementById("ordenar").value;
    fetch(`/empresa/${empresaId}/produtos/ordenar/${criterio}`)
        .then(response => response.json())
        .then(produtos => {
            console.log(produtos); // Verifique os produtos retornados
            atualizarProdutosNaTela(produtos);
        })
        .catch(error => console.error('Erro ao ordenar produtos:', error));
}

// Função para atualizar produtos na tela
// Função para atualizar produtos na tela
function atualizarProdutosNaTela(produtos) {
    const container = document.querySelector(".produtos-container");
    container.innerHTML = ''; // Limpa o container

    produtos.forEach(produto => {
        const produtoCard = document.createElement('div');
        produtoCard.classList.add('produto-card');

        produtoCard.innerHTML = `
            ${produto.imagemProd ? `<img src="${produto.imagemProd}" alt="${produto.tituloProd}" class="imagem-produto" />` : ''}
            <div class="info-produto">
                <h4>${produto.tituloProd}</h4>
                <p class="descProduto">Descrição: ${produto.descricaoProd}</p>
                <p>Preço: R$ ${produto.valorProd}</p>
                <p>Estoque: ${produto.qtdeEstoque}</p>
            </div>
            <div class="acoes-produto">
                <button class="editarBtn" type="button">Editar</button>
                <form action="/empresa/remover-produto/${produto.idProd}" method="POST" class="remover-produto-form">
                    <button class="removerBtn" type="button">Remover</button>
                </form>
            </div>
        `;

        // Adicionar o evento de clique para o botão de editar, que abre o modal
        const editarBtn = produtoCard.querySelector('.editarBtn');
        editarBtn.addEventListener('click', () => {
            abrirModal({
                idProd: produto.idProd,
                tituloProd: produto.tituloProd,
                descricaoProd: produto.descricaoProd,
                valorProd: produto.valorProd,
                qtdeEstoque: produto.qtdeEstoque
            });
        });

        container.appendChild(produtoCard);
    });
}
    </script>
    
    


</body>
</html>